@{
    ViewData["Title"] = "Home Page";
}
<div id="intro-example" class="p-5 text-center bg-image" style="background-image: url('https://mdbootstrap.com/img/new/slides/041.jpg'); height: 100vh; transform: translateY(-15px);">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white" style="transform: translateY(-80px);">
                <h1 class="mb-3">Welcome to Order Genie</h1>
                <h5 class="mb-4">5 star order tracking software</h5>
                <a class="btn btn-outline-light btn-lg m-2" role="button" rel="nofollow" asp-area="" asp-controller="Home" asp-action="login">Login</a>
                <a class="btn btn-outline-light btn-lg m-2" role="button">Register</a>
            </div>
        </div>
    </div>
</div>




