@{
var returnUrl = ViewData["ReturnUrl"] as string;
var error = TempData["Error"] as string;
}
<section class="h-100 gradient-form" style="">
  <div class="container py-5" style="">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="~/img/logo.png" style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1"></h4>
                </div>
                  @if(!string.IsNullOrEmpty(error))
                  {
                  <h2 class="alert-danger" style="padding: 14px; font-size: 18px;">@error</h2>
                  }
                  
                <form action="" method="post">
                  <p>Fill out the following fields to register your account</p>

                  <div class="form-outline mb-4">
                    <input name="username" type="text" class="form-control" placeholder="Phone number or email address"/>
                    <label class="form-label">Full Name</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input name="username" type="email" class="form-control" placeholder="Phone number or email address"/>
                    <label class="form-label">Email</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input name="password" type="password" class="form-control" />
                    <label class="form-label">Password</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input name="password" type="password" class="form-control" />
                    <label class="form-label">Repeat Password</label>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                   <a asp-area="" asp-controller="Home" asp-action="Signmeup"> <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" value="login">Register</button></a>
                    
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-black px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a company</h4>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
